@font-face {
    font-family: 'Font';
    src: url('font/CaviarDreams.ttf') format('truetype');
}
@font-face {
    font-family: 'FontBold';
    src: url('font/CaviarDreams_Bold.ttf') format('truetype');
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Font', sans-serif;
    color: rgb(173, 173, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.index_body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_body{
    background-color: black;
    display: flex;
    align-items: flex-start;
}
.img_principal{
    width: 400px;
    height: auto;
}
.text_star {
    position: absolute;
    top: 38%;
    left: 48.5%;
    color: black;
    font-family: 'FontBold';
}
.card {
    width: 800px;
    height: 690px;
    position: relative;
}

.front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10%;
    cursor: pointer;
}
.rotating-link {
    text-decoration: none;
    animation: rotate 300s linear infinite;
    transform-origin: center center;
}

.center {
    margin-top: 100px;
    background-image: url("imgs/PANTALLA-COMPLETA.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 600px;
    width: 80vh;
}
.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.star {
    position: absolute;
    background-color: yellow;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    opacity: 0.8;
    animation: float 10s linear infinite;
}

.info {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}
.aro {
    position: absolute;
    top: -350%;
    left: -37%;
    height: 500px;
    width: auto;
    z-index: 0;
}
.item {
    background-color: rgb(116, 103, 91, 255);
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 110px;
    width: 75px;
    z-index: 1;
}

.dress_body{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: black;
}

.btn_dress{
    background-color: rgb(116, 103, 91, 255);
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: rgb(173, 173, 2); 
}

.hombres_mujeres_body{
    display: flex;
    flex-direction: column;
    background-color: black;
}
.img_container{
    position: relative;
}
.dress_code_img{
    height: auto;
    width: 420px;
}
.star1{
    position: absolute;
    top: 10px;
    left: 10px;
    height: auto;
    width: 100px;
}
.star2{
    position: absolute;
    top: 10px;
    left: 155px;
    height: auto;
    width: 100px;
}
.star3{
    position: absolute;
    top: 10px;
    left: 285px;
    height: auto;
    width: 100px;
}
.rotating-image {
    animation: rotate 90s linear infinite;
    transform-origin: center center;
}
.rotating-image_2 {
    animation: rotate2 90s linear infinite;
    transform-origin: center center;
}
.back {
    position: absolute;
    bottom: 20%;
}

.back img{
    height: 40px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px) translateX(500px);
        opacity: 0.8;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

